<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

     <title>Burger App</title>

     
    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {{!-- css styling --}}
    {{!-- <link rel="stylesheet" href="../public/css/style.css" type="text/css" /> --}}

    {{!-- burger js --}}
    {{!-- <script src="../../public/js/burger.js"></script> --}}

</head>

<body>
    {{{body}}}
</body>

<script type="text/javascript">

$(function() {
    $(".devour").on("click", function (event) {
        // devour button
        let id = $(this).data("id");
        let eaten = {
            devoured: true
        };
        $.ajax("/api/burger/" + id, {
            type: "PUT",
            data: eaten
        }).then(function() {
            console.log("changed status to ", eaten);
            location.reload();
        });
    });

    $("#burgers").on("submit", function(event) {
        event.preventDefault();
        let newBurger = {
            name: $("#name").val().trim()
        };
        console.log(name);
        // now this post request is going to be sent
        $.ajax("/api/burger", {
            type: "POST",
            data: newBurger
        }).then(function() {
            console.log("made a new burger!");
                location.reload();
            }
        );
    });
    $(".delete-burger").on("click", function(event) {
        let id = $(this).data("id");
            $.ajax("/api/burger/" + id);
            location.reload();
        }
    );
});

</script>

</html>